<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Market List</title>
	
		<!-- include libraries(jQuery, bootstrap) -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
		<!-- include summernote css/js -->
		<link rel="stylesheet" type="text/css" href="/css/header.css">
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
	</head>
	<style>
		.flex-container { 
			display: flex; 
			flex-direction: column;
  			font-size: 30px;
  			text-align: center;
		}
/* 		.categoryTable {
			width:80%;
			height:50%;
		}
		
		.marketServiceTable {
			width:100%;
			height:50%;
		} */
		
		#search{
		  	border:1px solid lightgray;
		}
		
		#main_wrap {
			width: 100%;
			height: 800px;
			border: 1px solid #c3c3c3;
			display: flex;
			padding: 10px;
		}
		
 		#main_wrap div:nth-of-type(1) {
 			flex-grow: 3;
 		}
 		#main_wrap div:nth-of-type(2) {
 			flex-grow: 7;
 		}
		
		#category_wrap {
			display: flex;
			flex-direction: column;
			text-align: center;
			font-size: 15px;
			line-height: 40px;
			border: 1px solid #c3c3c3;
			width: 200px;
		}
		
		#service_wrap {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding-left: 10px;
			width: 1200px;
		}
		
		.title_wrap {
			font-size: 20px;
  			text-align: center;
		}
	</style>

	<body>
	<div th:replace="/fixed/header :: header"></div>
	
	<h2>Market List</h2>
	<div id="main_wrap">
		<div>
			<div class="title_wrap">카테고리</div>
			<div id="category_wrap">
			<!-- 카테고리의 키워드를 누를때마다 로그인을한 회원의 location과 서비스글 등록한 회원의 location이 같아야함. -->
			<!-- 돌봄을 누르면 location이 같고 카테고리도 돌봄인것만 나와야 함 -->
				<a href="@{/market/marketListPage(serviceNo=${market.serviceNo}, id=${session.id})}">돌봄</a>
				<a href="#">디지털</a>
				<a href="#">뷰티</a>
				<a href="#">교육</a>
				<a href="#">취미</a>
				<a href="#">기타</a>
			</div>
		</div>
		<div>
			<div class="title_wrap">서비스</div>
			<div id="service_wrap">
				<table border="1">
					<thead>
						<tr>
							<td>번호</td>
							<td>제목</td>
							<td>내용</td>
							<td>작성자</td>
							<td>날짜</td>
							<td>찜</td>
							<td>타입</td>
							<td>가격</td>
							<td>카테고리</td>
						</tr>
					</thead>
					<tbody>
					<!-- th:each 반복처리 marketList에 변수들이 담겨있음. 각 구성요소를 접근할 때 market 변수 사용
			         자식태그들은 market변수를 이용해서 각 요소의 속성에 접근 -->
					<tr th:each="market : ${marketList}">
						<!-- 번호 1씩 늘어나는거 -->
						<td th:text="${marketStat.index + 1}"></td>
						<td>
							<!-- 제목누르면 상세보기로 넘어가기 service_no를 넘겨주면서 -->
							<a th:if="${session.id != null}" th:href="@{/market/serviceDetail(serviceNo=${market.serviceNo}, id=${session.id})}"
							   th:text="${market.title}" th:field="*{market.title}">
							</a>
							<a th:if="${session.id == null}" href="javascript:void(0)" th:text="${market.title}" th:field="*{market.title}" 
							   onclick="alert('로그인 후 확인 가능합니다.'); return false;"></a>
						</td>
						<td>내용</td>
						<td th:text="${market.nickname}"></td>
						<td th:text="${#strings.substring(market.regDate,0,16)}"></td>
						<td th:text="${market.jmState}"></td>
						<td th:text="${market.typeNm}"></td>
						<td th:text="*{#numbers.formatDecimal(market.price, 0, 'COMMA', 0, 'POINT')}" align="right"></td>
						<td th:text="${market.category}"></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!-- 테이블 크기 조정 화면에 꽉 차게 %로 하면 창 크기를 줄여도 크기에 맞춰서 늘어나고, 줄어든다. -->
	<div class="categoryTable" style="display:flex">
		<div>
			<form id="categoryForm">
				<table border="1">
					<colgroup>
						<col width="10%" />
					</colgroup>
				<thead align="center">
					<tr>
						<td class="category">카테고리</td>
					</tr>
				<!-- th:each="category : ${categoryList}" -->
					<tr>
						<td>
						<a th:id="category" onclick=""></a>
							돌봄
						</td>
						<td>
							디지털
						</td>
						<td>
							뷰티
						</td>
						<td>
							교육
						</td>
						<td>
							취미
						</td>
						<td>
							기타
						</td>
					</tr>
				</thead>
				<tbody align="center">
					<tr>
						<td>
						</td>
					</tr>
				</tbody>
				</table>
			</form>
		</div>
		<div class="marketServiceTable">
			<table border="1">
				<colgroup>
					<col width="3%" />
					<col width="15%" />
					<col width="8%" />
					<col width="*" />
					<col width="15%" />
					<col width="8%" />
					<col width="5%" />
					<col width="8%" />
					<col width="10%" />
				</colgroup>
				<!-- 헤더 제목 부분 -->
				<thead align="center">
				<tr>
					<td>번호</td>
					<td>제목</td>
					<td>작성자</td>
					<td>내용</td>
					<td>날짜</td>
					<td>+찜</td>
					<td>타입</td>
					<td>가격</td>
					<td>카테고리</td>
				</tr>
				</thead>
				<tbody align="center">
					<!-- th:each 반복처리 marketList에 변수들이 담겨있음. 각 구성요소를 접근할 때 market 변수 사용
			         자식태그들은 market변수를 이용해서 각 요소의 속성에 접근 -->
					<tr th:each="market : ${marketList}">
						<!-- 번호 1씩 늘어나는거 -->
						<td th:text="${marketStat.index + 1}"></td>
						<td>
							<!-- 제목누르면 상세보기로 넘어가기 service_no를 넘겨주면서 -->
							<a th:if="${session.id != null}" th:href="@{/market/serviceDetail(serviceNo=${market.serviceNo}, id=${session.id})}"
							   th:text="${market.title}" th:field="*{market.title}">
							</a>
							<a th:if="${session.id == null}" href="javascript:void(0)" th:text="${market.title}" th:field="*{market.title}" 
							   onclick="alert('로그인 후 확인 가능합니다.'); return false;"></a>
						</td>
						<td th:text="${market.nickname}"></td>
						<td th:text="${#strings.substring(market.regDate,0,16)}"></td>
						<td th:text="${market.jmState}"></td>
						<td th:text="${market.typeNm}"></td>
						<td th:text="*{#numbers.formatDecimal(market.price, 0, 'COMMA', 0, 'POINT')}" align="right"></td>
						<td th:text="${market.category}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
		<input type="hidden" id="categoryGubun" name="categoryGubun">
		<input type="button" id="registBtn" value="서비스등록" th:if="${session.id != null}"/>
		<input type="button" id="mainBtn" value="메인"/>
	</body>
	<script>
		$('#registBtn').on('click', function() {
			location.href = "/market/serviceRegistPage";
		});
		
		$('#mainBtn').on('click', function() {
			location.href = "/";
		});
	
		$('#summernote').summernote({
			height : 300, // 에디터 높이
			minHeight : null, // 최소 높이
			maxHeight : null, // 최대 높이
			focus : true, // 에디터 로딩후 포커스를 맞출지 여부
			lang : "ko-KR", // 한글 설정
			callbacks : {
				onImageUpload : function(files, editor, welEditable) {
					for (let i = files.length - 1; i >= 0; i--) {
						uploadSummernoteImageFile(files[i], this);
					}
				}
			}
		});
	
		function uploadSummernoteImageFile(file, el) {
			data = new FormData();
			data.append('file', file);
			$.ajax({
				data : data,
				type : 'POST',
				url : '/uploadImage',
				contentType : false,
				enctype : 'multipart/form-data',
				processData : false,
				success : function(data) {
					$(el).summernote('editor.insertImage', data.url);
				}
			});
		}
		
	$(function() {
			
			// 수정 폼 Submit 이벤트
			$("#categoryForm").onclick(function(){
				event.preventDefault();
/* 	
				$(cate).val()
				
				var a = {
	
				};
				a.category = 
				 */
				var form = $('#categoryForm')[0];
	
				/**
				 * url : 전송할 서버 주소
				 * type : 전송방식 (get/post)
				 * data : 전송할 데이터 ※ form.serialize() ? >> form 안에 데이터를 json 형태로 변환
				 * success : 전송 후, 응답이 성공일 경우 수행할 기능 작성
				 * error : 전송 후, 응답이 실패일 경우 수행할 기능 작성
				 */
				var formData = new FormData(form);
	
				$.ajax({
					url : "/market/serviceSave"
					, type : "post"
					, data : formData
					, success : function(data) {
						// 결과처리 건수가 0이상이면 정상
						if (data.returnCnt > 0) {
							alert("정상적으로 수정되었습니다.");
							// 처리가 완료되면 serviceDetail로 이동한다. serviceNo도 같이 보내면서
							location.href = "/market/serviceDetail?serviceNo=" + data.serviceNo;
						} else {
							// 0 일때 오류
							alert("오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
						}
					}
					, error : function(xhr, status) {
						alert("오류가 발생했습니다. :: " + status);
					}
					, cache: false
					, contentType: false
					, processData: false
				});
			});
		});
		
	</script>
</html>