<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mygg.mygg.domain.repository.ChatRepository">

    <select id="getChats" resultType="java.util.HashMap">
        SELECT * FROM (
                          SELECT c.chat_id, u.nickname,c.comment,c.regdate, c.board_id, c.status
                          FROM test_chat AS c,
                               test_user AS u
                          WHERE c.from_user = u.user_id) AS cu,
                      test_board AS b
        WHERE cu.board_id = b.board_id ORDER BY regdate;
    </select>

    <update id="updateStatus" parameterType="java.util.HashMap">
        update test_chat set status=status+1 where chat_id=1;
    </update>

</mapper>