<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/content-styles.css}" type="text/css">
  <title>Title</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<style>
  .container{
    display: flex;
    justify-content: center;
  }
  .items{
    width:500px;
    background: silver;
  }
  #content{
    border:1px solid;
    background: white;
  }
</style>
<body>
<div class="container">
  <div class="items">
    <div th:text="${notice.title}"></div>
    <div th:text="${notice.writer}"></div>
    <div id="content" th:text="${notice.content}"></div>
    <div th:text="${notice.regdate}"></div>
    <div>
      <input type="button" id="deleteBtn" value="삭제" >
      <input type="button" id="updateBtn" value="수정">
    </div>
  </div>
</div>
<script defer>
  const content = document.getElementById('content');
  const text = content.innerText;
  content.innerHTML = text;

  const updateBtn = document.getElementById('updateBtn');
  updateBtn.addEventListener('click', () => {
    location.href = '/notice/update/[[${notice.board_id}]]';
  });

  const deleteBtn = document.getElementById('deleteBtn');
  deleteBtn.addEventListener('click', () => {
    $.post("/notice/delete/[[${notice.board_id}]]")
            .done((data) => {
              location.href = "/notice";
            });
  });

</script>
</body>
</html>