<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
<style>
.container{
  display:flex;
  justify-content: center;
}
.form_items{
  width:1000px;
  background: lightgray;
  height:1000px;
}
.ck-content{
  min-height: 500px;
}
.title{
  padding:10px
}
</style>
<body>
<div class="container">
  <form action="" method="POST">
    <div class="form_items">
      <div class="title">
        <input type="text" id="title" name="title" style="border:none; width:100%;">
        <input type="hidden" name="writer" value="admin">
      </div>
      <div class="textarea">
        <textarea name="content" id="editor" cols="30" rows="10"></textarea>
      </div>
      <div>
        <input type="submit" class="submit" id="submit" value="제출">
      </div>
    </div>
  </form>
</div>
<script>
  ClassicEditor
          .create(document.getElementById('editor'))
          .catch(error => {
            console.log(error);
          });
</script>
</body>
</html>